<div class="login-container">
  <nz-card class="login-card">
    
    <div class="login-header">
      <span nz-icon nzType="left" nzTheme="outline"></span>
      <h2>Bienvenido</h2>
      <p class="subtitle">Gestiona tus finanzas de manera inteligente</p>
    </div>

    <form nz-form [formGroup]="myForm" class="login-form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingresa un correo">
          <nz-input-group [nzPrefix]="userIcon">
            <input type="email" 
                   nz-input 
                   formControlName="email" 
                   placeholder="Email" 
                   class="custom-input"/>
            <ng-template #userIcon>
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingresa tu contraseña">
          <nz-input-group [nzPrefix]="lockIcon">
            <input type="password" 
                   nz-input 
                   formControlName="password" 
                   placeholder="Contraseña"
                   class="custom-input"/>
            <ng-template #lockIcon>
              <span nz-icon nzType="lock" nzTheme="outline"></span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div class="login-options">
        <a class="forgot-link">¿Olvidaste tu contraseña?</a>
      </div>

      <button nz-button 
              [nzType]="'primary'" 
              type="submit"
              class="login-button"
              [disabled]="!myForm.valid">
        Iniciar Sesión
      </button>
    </form>
  </nz-card>
</div>